@use '../../assets/styles/variables' as *;

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: $secondary-light;
  height: 36px;
  padding: 8px;
  border: 1px solid $border-color;
  position: absolute;
  top: 0;
  right: 0;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}
