@use '../assets/styles/mixins' as *;
@use '../assets/styles/variables' as *;

.page {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  gap: 15px;
  justify-content: space-between;

  .plus {
    width: 100%;
    @include flex-row-center;
  }

  @media (max-width: 992px) {
    max-width: 90%;
  }

  @media (max-width: 768px) {
    max-width: 95%;
    padding: 0 15px;
  }

  @media (max-width: 576px) {
    max-width: 100%;
    padding: 0 10px;
  }
}

.items {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.container {
  width: 100%;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.active {
  border: 2px dashed $primary-color;
  padding: 20px;
  height: 200px;
  @include flex-row-center;
}

.initial {
  h3 {
    font-size: 20px;
    margin-top: 15px;
    @include flex-row-center;
    gap: 10px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.button {
  font-size: 20px;
  @include flex-row-center;
  gap: 8px;
  @include button;
  height: 36px;
  background-color: transparent;
  border: 1px solid $primary-dark;
  color: $primary-dark;
}

.wrapper {
  position: relative;
}

.textarea {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: $secondary-light;
  border: 1px solid $border-color;
  padding: 20px;
  cursor: pointer;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: $primary-dark;
  &:focus-visible {
    outline: none;
    border: 2px dashed $primary-color;
  }
}
