@use './mixins' as *;
@use './variables' as *;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: $secondary-light;
  color: $primary-dark;
}

.primary-color {
  color: $primary-color;
}

.flex-row-center {
  @include flex-row-center;
}
.MuiDrawer-root {
  position: relative !important;
}
.MuiDrawer-paper {
  background-color: $light-grey !important;
  width: 400px !important;
}

.MuiIconButton-root {
  &:hover {
    background-color: transparent !important;
    color: $primary-dark !important;
  }
}

.button-inactive {
  opacity: 0.5;
}
.toolbar {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
